:root {
    --color-secondary: rgb(1, 12, 27);
    --color-textWhite: white;
    --color-extra: rgb(139, 170, 253);
    --color-themeWhite: white;
    --color-themeBlakc: #202020;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Exo 2', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-themeBlakc);
    display: flex;
    flex-direction: column;
}




.header {
    flex: 1;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background: var(--color-secondary);
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 5px var(--color-extra);
}

.header-title {
    padding-top: 10px;
    color: var(--color-textWhite);
}

.header-input {
    width: 320px;
    padding: 10px 0 20px 0;
}

.header-input .header-input__search {
    font-family: 'Exo 2', sans-serif;
    padding-inline: 30px;
    padding-block: 7px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}


.header .header-search {
    order: 2;
}
.header .header-icon {
    color: var(--color-textWhite);
    order: 1;
    font-size: 20px;
    cursor: pointer;

}

.main {
    margin-top: 200px;
    flex: 1;
}

.grid-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.grid-fluid > .card-shows {
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(18, 19, 22);
    color: var(--color-textWhite)
}

.grid-fluid > p {
    text-align: center;
    margin: 5px;
    color: var(--color-extra)
}

.card-shows h3 {
    text-decoration: underline;
    color: rgb(131, 129, 129);
    margin-bottom: 15px;
}

.grid-fluid img {
    max-width: 100%;
    padding-block: 15px;
    padding-inline: 30px;
    border-radius: 40px;
}

.grid-fluid .enlace {
    flex: 1;
    display: grid;
    place-items: end;
    justify-content: start;
}

.loader {
    display: block;
    margin: auto;
}

.footer {
    flex: 0;
    display: flex;
    gap: 5px;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    background-color:var(--color-secondary);
    color: gray
}


@media (min-width: 620px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
    }

    .header .header-icon {
        order: 2;
    }

    .main {
        margin-top: 150px
    }

    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
}



/* Tema Blanco */
.active-body {
    background-color: var(--color-themeWhite);
}
.grid-fluid > .active-section {
    background-color: #bcd7fc60;
    color:var(--color-themeBlakc)
}